---
import Layout from '../layouts/Layout.astro';
import { getPosts } from './posts/post.api';

const posts = await getPosts();
---

<Layout>
  <h1>Welcome to Astro Blog</h1>
  <a href="/about">About</a>
  <p>Latest posts:</p>

  <ul>
    {
      posts.map(post => (
        <li>
          <h2>
            <a href={`/posts/${post.title.toLowerCase().replace(/\s+/g, '-')}`}>{post.title}</a>
          </h2>
          <p>
            <strong>Author:</strong> {post.author}
          </p>
          <p>{post.summary}</p>
        </li>
      ))
    }
  </ul>
</Layout>
